### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players
purchase_data

In [2]:
purchase_data['Purchase ID'].count()

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#purchase_data.describe()
purchase_data.head(68)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
63,63,Alo38,20,Male,125,Whistling Mithril Warblade,1.00
64,64,Phaena87,20,Male,56,Foul Titanium Battle Axe,2.92
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22
66,66,Chanastsda67,21,Female,6,Rusty Skull,3.70
67,67,Lisim78,20,Male,138,"Peacekeeper, Wit of Dark Magic",4.74

In [4]:
dict1 = {}
#Run basic calculations to obtain number of unique items....
UniqueItems = purchase_data["Item ID"].value_counts()
UniqueItemsCount=UniqueItems.count()
print("The Number of Unique Items: " + str(UniqueItemsCount))
#print(type(UniqueItems))
dict1["Number of Unique Items"]=[UniqueItemsCount]
print()
#... average price, etc.:
averagePriceNum = purchase_data["Price"].mean()
print("The Average Price is: $"+ str(round(averagePriceNum,2)))
print()
dict1["The Average Overall Price"]=[averagePriceNum]

dict1["Number of Purchases"]= purchase_data["Purchase ID"].count()

TotalRevNum = purchase_data["Price"].sum()
TotalRevString = "$"+str(TotalRevNum)

dict1["Total Revenue"] = TotalRevString

print()

#Create a summary data frame to hold the results TODO????
summarydf = pd.DataFrame(dict1)

#summarydf["The Average Overall Price"] = summarydf["The Average Overall Price"].map("${:,2f}.format")
summarydf

The Number of Unique Items: 183

The Average Price is: $3.05

,Number of Unique Items,The Average Overall Price,Number of Purchases,Total Revenue
0,183,3.050987,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
GenderDemos= pd.DataFrame(None, columns=["Gender","Gender Percentage"])

GenderDemos["Gender"] = purchase_data["Gender"].unique()
GenderPercentDict = {}
for i in GenderDemos["Gender"]:
    tempvalue = purchase_data.loc[purchase_data["Gender"]==i,"Gender"].count() # This finds the amount of each gender
    tempvalue = tempvalue / purchase_data["Gender"].count() #this finds the percentage that represents
    GenderPercentDict[i] = tempvalue #This puts it in a dictionary
print(GenderPercentDict)


 #   Percentage and Count of Female Players
  #  Percentage and Count of Other / Non-Disclosed


Gender2 = GenderDemos.set_index("Gender") #make a df with gender as index

Gender2["Gender Percentage"]=GenderPercentDict.values() #set the values of the dictionary, a list, as the values in the df
Gender2.head()

#Attention DK / TJ: I didn't round in the earlier step.  That might why my results are slightly off.

{'Male': 0.8358974358974359, 'Other / Non-Disclosed': 0.019230769230769232, 'Female': 0.14487179487179488}

                       Gender Percentage
Gender
Male                            0.835897
Other / Non-Disclosed           0.019231
Female                          0.144872


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
Gender2["purchase count"]=None
Gender2["avg. purchase price"]=None
Gender2["avg. purchase total (amount?) per person"]=None

Gender2.iloc[0,1] = purchase_data.loc[purchase_data["Gender"]=="Male","Gender"].count()
Gender2.iloc[0,2]= purchase_data.loc[purchase_data["Gender"]=="Male","Price"].mean()

Gender2.iloc[1,1] = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed","Gender"].count()
Gender2.iloc[1,2]= purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed","Price"].mean()


Gender2.iloc[2,1] = purchase_data.loc[purchase_data["Gender"]=="Female","Gender"].count()
Gender2.iloc[2,2]= purchase_data.loc[purchase_data["Gender"]=="Female","Price"].mean()



Gender2.iloc[0,3]= purchase_data.loc[purchase_data["Gender"]=="Male","SN"].count() \
/ purchase_data.loc[purchase_data["Gender"]=="Male","SN"].nunique()

Gender2.iloc[1,3]= purchase_data.loc[purchase_data["Gender"]=="Female","SN"].count() \
/ purchase_data.loc[purchase_data["Gender"]=="Female","SN"].nunique()
Gender2.head()

Gender2.iloc[2,3]= purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed","SN"].count() \
/ purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed","SN"].nunique()
Gender2.head()




#This dictionary figures out the total amount purchased per person, average to follow
#TotalPurchasePerPersonDict={}
#count= 0
#for i in purchase_data["SN"]:
#    if i not in TotalPurchasePerPersonDict:
 #       TotalPurchasePerPersonDict[i]=0 #Initialize dict entry:
  #  TotalPurchasePerPersonDict[i] += purchase_data.iloc[count,6]
   # count=count+1

#This dictionary figures out the average purchase using the total purchase figured out above
#AveragePerPersonDict = TotalPurchasePerPersonDict

#for i in AveragePerPersonDict:
 #   AveragePerPersonDict[i]=AveragePerPersonDict[i] / purchase_data.loc[purchase_data["SN"]==i,"Price"].count()

    
    
    
#df3 = purchase_data[["SN","Gender","Price"]]
#df4 = df3.set_index("SN") #make a df with SN as index
#df4.head(69)

#df5 =pd.DataFrame(None)
#df5["SN"]=AveragePerPersonDict.keys()
#df5["Average Per Person"] = AveragePerPersonDict.values()
#df5.head()


#MaleTotalAverage=0
#FemaleTotalAverage=0
#OtherNonDisclosedTotalAverage=0


#for v,k in AveragePerPersonDict.items():
 #   ResultantGender = purchase_data.loc[purchase_data["SN"]== v,"Gender"]
  #  #print(ResultantGender)
   # ResultantGender2 = str(ResultantGender.at[0])
   # if(ResultantGender2 == "Male"):
   #     MaleTotalAverage = MaleTotalAverage + k
   # elif(ResultantGender2 == "Female"):
   #     FemaleTotalAverage = FemaleTotalAverage + k
   # elif(ResultantGender2 == "Other / Non-Disclosed"):
   #     OtherNonDisclosedTotalAverage = OtherNonDisclosedTotalAverage + k
   # else:
   #     print("You shouldnt see this message:")
   #     print("v: " + v + " ,k: " + str(k))
    
    

#Gender2.loc["Male","Avg Total Purchase per Person"] = \
#purchase_data.loc[purchase_data["Gender"]=="Male",]
#purchase_data["SN"].nunique()
#purchase_data["SN"].count()
#Gender2

,Gender Percentage,purchase count,avg. purchase price,avg. purchase total (amount?) per person
Gender,,,,
Male,0.835897,652,3.01785,1.34711
Other / Non-Disclosed,0.019231,15,3.346,1.39506
Female,0.144872,113,3.20301,1.36364

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [33]:
bins = [0,10,20,30,40,50,60,70,1000]
group_names=["<10","11-20","21-30","31-40","41-50","51-60","61-70","70+"]



df6=purchase_data["Age"].value_counts().rename_axis('age').reset_index(name='counts')
df6.head()
df6["Age_Groups"]=pd.cut(df6["age"], bins, labels=group_names)
df6
AgeDf2 = df6.groupby(["Age_Groups"])
AgeDf2.sum().drop("age", axis=1)
#AgeDf2
#AgeDf2["Age Percentage"] = AgeDf2["Age Groups"] / AgeDf2["Age Groups"].value_counts().sum()

#type(AgeDf["Age Count"])
#AgeDf2.count()


#AgeDf= AgeDf["Age Groups"]
#AgeDf.head(50)
#df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names)
aa= purchase_data["Age"] > 50
count=0
d=[count+1 for a in aa if a==True]
#count
AgeDf2.sum().drop("age", axis=1)
#df6.head()

            counts
Age_Groups
<10             32
11-20          254
21-30          402
31-40           85
41-50            7
51-60            0
61-70            0
70+              0

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
#Above:
#bins = [0,10,20,30,40,50,60,70,1000]
#group_names=[">11","11-20","21-30","31-40","41-50","51-60","61-70","70+"]
#AgeDf["Age Count"] = purchase_data["Age"].value_counts()
#AgeDf["Age Groups"]=pd.cut(AgeDf["Age Count"], bins, labels=group_names)
#AgeDf2 = AgeDf.groupby(["Age Groups"])

#reset_index??
#purchase_count_1 = pd.DataFrame(None)
#purchase_count_1.set_index(purchase_data["Age"])
purchase_count_7 = purchase_data["Purchase ID"].count()
mean_price_7 = purchase_data["Price"].mean()
Avg_purchase_total_count_per_person = purchase_data["Purchase ID"].count() / purchase_data["SN"].nunique()
purchase_count_1 = pd.DataFrame({"Purchase Count":[purchase_count_7],"Mean Price":[mean_price_7],"Avg. purchase total [count] per person":[Avg_purchase_total_count_per_person]})
#purchase_count_1["Age Groups"] = pd.cut(df6["age"], bins, labels=group_names)
purchase_count_1

   Purchase Count  Mean Price  Avg. purchase total [count] per person
0             780    3.050987                                1.354167

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame